.contacto {
  max-width: 600px;
  margin: 2rem auto;
  padding: 1rem;
  color: #ebe3e3;
}

.contacto h1 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.contacto form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contacto label {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 1rem;
}

.contacto input,
.contacto textarea {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  resize: vertical;
}

.contacto button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
  align-self: flex-start;
  display: block;
  margin: 1rem auto 0;
  width: fit-content;
}

.contacto button:hover {
  background-color: #009ac8;
}

@media (max-width: 600px) {
  .contacto {
    padding: 1rem;
  }

  .formulario-contacto input,
  .formulario-contacto textarea {
    font-size: 0.9rem;
  }

  .formulario-contacto button {
    width: 100%;
  }
}